node_http
[{"id":"eb7bd515.665c58","type":"http in","z":"52006432.b7424c","name":"","url":"/helloHTML","method":"get","swaggerDoc":"","x":186,"y":151,"wires":[["b250650f.4a1b88"]]},{"id":"b250650f.4a1b88","type":"template","z":"52006432.b7424c","name":"HTML Template","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Node HTTP</title>\n    </head>\n    <body>\n        <h1>Node HTTP</h1>\n        <p>Hello HTML</p>\n    </body>\n</html>","x":455,"y":148,"wires":[["7010c195.13603"]]},{"id":"7010c195.13603","type":"http response","z":"52006432.b7424c","name":"","x":689,"y":147,"wires":[]}]
